<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ABOUT US</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/about.css')}}">	
</head>
<body>
{% block body %}
 <h1>ABOUT US</h1>
 <hr>
 <marquee><h2>Our Missions :~</h2></marquee>
 
 <p>This idea of the project represents the ‘Courier Service Management System’.</p>

   <p>The system is being used for day-to-day activities such as maintaining <br>
    employee details, customer details, records of packages collected and<br>
    delivered, company details, and many other things.</p>
    <p>Manual effort in maintaining all this data is cumbersome and unfeasible<br>
    and therefore, in vain. Hence, we need to automate the process by<br>
    developing relevant database management software.</p>


<br>
<br>
<br>
<br>
<hr>
<footer> Thank you </footer>
{% endblock%}
</body>
</html>

