<!DOCTYPE html>
<html>
<head>
	<title>COURIER SERVICES</title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css')}}">
</head>
<body>
    <header>
    	<div class="main">
    	<div class="logo">
    		<!--<img src="logo.jpg">-->
    	</div>
		
		  <ul>
    			<li class="active"><a href="#">Home</a></li>
                
				<li><a href="/option">Admin</a></li>
                <li><a href="/courier">courier Login</a></li>
                
                
			</ul>
    	
    	<div class="title">
    		<h1>WELCOME TO</h1> <br>
    		<h3>COURIER SERVICES MANAGEMENT</h3>
    	</div>

    	<div class="button">
    		<a href="/about" class="btn">ABOUT US</a>
    		
    	</div>

    </header>
</body>
</html> 