
	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

    <link rel="stylesheet" href="../static/css/styles.css">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-danger">
        <a style="color:white;" class="navbar-brand" href="/"></i>&nbsp;<font face = "Comic sans MS" size ="4">Courier Management service</font></a>
        
      
        
      </nav>
<br><br>
<br>
<p>            </p>
<p>        </p>
<div class="wrapper">
    <div class="sidebar">
        
        <ul>
            <li><a style="text-decoration:none;" href="/"><i class="fas fa-home"></i>Home</a></li>
			<p></p>
            <li><a style="text-decoration:none;" href="/senderinfo"><i class=""></i>View a sender details.</a></li>
			<br>
            <li><a style="text-decoration:none;" href="/receiver"><i class=""></i>View receiver details</a></li>
			<br>
			<li><a style="text-decoration:none;" href="/customer"><i class=""></i>Enter a sender details</a></li>
			<br>
			<li><a style="text-decoration:none;" href="/receiverinfo"><i class=""></i>Enter a receiver details</a></li>
			<br>
			<li><a style="text-decoration:none;" href="/SRdetails"><i class=""></i>sender to receiver</a></li>
            
           
        </ul> 

    </div>
    <div class="main_content">


{% block content %}

{% endblock content %}



    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	
	
</body>
</html>
